@{
    Layout = "~/Views/Shared/_AltLayout.cshtml";
    ViewBag.Title = "jQuery Grid";
}

<link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/overcast/jquery-ui-1.10.3.custom.css")" />
<link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/jqgrid/ui.jqgrid.css")" />

<div class="container">
    
    <div class="row-fluid">
        <div class="span12">
            <h1>jQuery Grid Example</h1>
        </div>
    </div>
    
    <div class="row-fluid">
        <div class="span12">
            <table id="dataGrid"></table> 
            <div id="dataGridPager"></div> 
        </div>
    </div>

</div>

@section scripts
{
    <script src="@Url.Content("~/Scripts/jqgrid/i18n/grid.locale-en.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jqgrid/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/examples/jqGridExample.js")" type="text/javascript"></script>
}
